body {
    background-color:black;
    font-family:arial;color:white
}
h1{
    color:grey;
    font-family:verdana
}
.maindiv {
    background-color:white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius:25px;
    margin: auto;

}

label{
    display: inline-block;
    width: 130px;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 10px;
}

button,#result{
    margin-left: 100px;
}

#result {
    margin-bottom: 10px;
}




